<dialog id="dialog_bulkup_fc_cols" class="col-sm-12 col-xl-6">

    <div class="bg-light rounded h-100 p-4">

        <div class="d-flex align-items-center justify-content-between mb-2">
            <h5 class="mb-2">Bulk-up force choice columns</h5>
        </div>

        <form id="form_bulkup_fc_cols" action="/msn-prj/update/{{ prj.id }}/structure-fc" method="post" enctype="multipart/form-data">

            <input type="hidden" id='output_bulkup_fc_cols' name="output">

            <div class="align-items-center justify-content-between mb-2">

                <div class="form-floating p-2">
                    <textarea class="form-control" placeholder="Leave a input here"
                        id="floatingTextarea_fc_cols" name="detail.fc_cols" style="height: 300px"></textarea>
                    <label for="floatingTextarea_fc_cols">Leave an input here</label>
                </div>

            </div>

            <div class="row g-0 p-0">
                <div class="col-sm-12 col-xl-3"></div>
                <div class="col-sm-12 col-xl-3"></div>

                <div class="col-sm-12 col-xl-3">
                    <div class="bg-light rounded h-100 p-2">
                        <button type="button" class="btn btn-secondary py-3 w-100" onclick="closeDialog('dialog_bulkup_fc_cols')">Close</button>
                    </div>

                </div>

                <div class="col-sm-12 col-xl-3">
                    <div class="bg-light rounded h-100 p-2">
                        <input class="btn btn-primary py-3 w-100" type="submit" value="Submit" id="submit_bulkup_fc_cols" onclick="fnc_submit('bulkup_fc_cols', true)">
                    </div>
                </div>

            </div>


        </form>

    </div>

</dialog>


<div class="bg-light rounded h-100 p-2 mt-2 mb-0">
    <form id="form_fc_cols" action="/msn-prj/update/{{ prj.id }}/structure-fc" method="post" enctype="multipart/form-data">

        <input type="hidden" id='output_fc_cols' name="output">

        <div class="table-responsive mb-3">
            <table class="table text-start align-middle table-bordered table-hover mb-0" id="tbl_fc_col">
                <thead>
                    <tr class="text-dark">
                        <th width="5%" scope="col">#</th>
                        <th scope="col">Output data column name</th>
                        <th scope="col">Rawdata column name</th>
                        <th width="15%" scope="col">Type</th>
                        <th width="5%" scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    {% if prj.detail.fc_cols %}

                        {% for key, val in prj.detail.fc_cols.items() %}

                            <tr id="detail.fc_cols.{{ key }}">
                                <td width="5%">{{ key }}</td>

                                <td>
                                    <textarea class="form-control" id="detail.fc_cols.{{ key }}.0"
                                              name="detail.fc_cols.{{ key }}.0" cols="" rows="">{{ val[0] }}</textarea>
                                </td>

                                <td>
                                    <textarea class="form-control" id="detail.fc_cols.{{ key }}.1"
                                              name="detail.fc_cols.{{ key }}.1" cols="" rows="">{{ val[1] }}</textarea>
                                </td>

                                <td>
                                    <select class="form-select" id="detail.fc_cols.{{ key }}.2" name="detail.fc_cols.{{ key }}.2">

                                        {% for qre_type in ['NONE', 'OL', 'JR', 'FC', 'SA', 'MA', 'NUM', 'OE', 'OTHER'] %}

                                            {% if val[2] == qre_type %}
                                                <option selected value="{{ qre_type }}">{{ qre_type }}</option>
                                            {% else %}
                                                <option value="{{ qre_type }}">{{ qre_type }}</option>
                                            {% endif %}

                                        {% endfor %}

                                    </select>
                                </td>

                                <td width="5%"><input type="button" class="btn btn-outline-danger" value="X"
                                                      onclick="Del_Row('detail.fc_cols.{{ key }}', '{{ key }} - {{ val[0] }}');"></td>
                            </tr>

                        {% endfor %}

                    {% else %}

                        <tr>
                            <td>=></td>
                            <td>Bulk it up</td>
                            <td><=</td>
                        </tr>

                    {% endif %}

                </tbody>
            </table>
        </div>

        <div class="row g-2">

            <div class="col-sm-12 col-xl-3">
                <button type="button" class="btn btn-outline-warning py-3 w-100" onclick="tableToCSV('tbl_fc_col', 'FC_bulkup')">Export</button>
            </div>

            <div class="col-sm-12 col-xl-3">
                <button type="button" class="btn btn-outline-primary py-3 w-100" onclick="showDialog('dialog_bulkup_fc_cols')">Bulk-up</button>
            </div>

            <div class="col-sm-12 col-xl-3"></div>

            <div class="col-sm-12 col-xl-3">
                <input class="btn btn-primary py-3 w-100" type="submit" id="submit_fc_cols" value="Submit force choice" onclick="fnc_submit('fc_cols', false)">
            </div>

        </div>

    </form>
</div>