<div class="bg-light rounded h-100 p-2">

    {% if prj.sec_topline_exporter.isErr is defined %}

        <div class="alert alert-danger" role="alert">
            <h1 class="text-center alert-danger">Processing Error</h1>
            {{ prj.sec_topline_exporter.errLbl }}
        </div>

    {% endif %}

    {% if not prj.sec_topline_exporter %}

        <div class="alert alert-warning" role="alert">
            The topline/handcount is not processed. Please choose the <b>topline section</b> -> click <b>process topline</b>.
        </div>

    {% endif %}

    <form id="form_topline_process" action="/msn-prj/topline_process/{{ prj.id }}" method="post" enctype="multipart/form-data">

        <div class="row g-2">

            <div class="col-sm-12 col-xl-3">
                <div class="form-floating mb-2">

                    <select class="form-select" id="export_tl_section"
                        aria-label="Floating label select example"
                        name="export_section">

                        <option selected value="-1">Select section</option>

                        {% for key, val in prj.detail.sections.items() %}
                            <option value="{{ key }}">{{ val.name }}</option>
                        {% endfor %}

                    </select>

                    <label for="export_tl_section">Topline section</label>

                </div>
            </div>

            <div class="col-sm-12 col-xl-6">

                <select class="form-select" multiple aria-label="multiple select" multiselect-search="true"
                        multiselect-select-all="true" multiselect-max-items="5" multiselect-hide-x="false"
                        id="export_sheets" name="export_sheets">
                    <option value="Handcount">Handcount</option>
                    <option selected value="OL_Summary">OL Summary</option>
                    <option selected value="JAR_Summary_Callback">JR Summary</option>
                    <option selected value="Tabulation_Callback">Tabulation</option>
                    <option selected value="Profile">Profile</option>
                    <option selected value="OEs_Callback">OEs Callback</option>

                </select>
            </div>

            <div class="col-sm-12 col-xl-3">
                <input class="btn btn-primary py-3 w-100 mb-2" type="submit" value="Process topline" onclick="fnc_tl_submit(this, 'form_topline_process');">
            </div>

        </div>
    </form>

    {% if prj.download_file_name %}

        <div class="row g-2">
            <div class="col-sm-12 col-xl-8">
                <div class="alert alert-success" role="alert">
                    <b>{{ prj.download_file_name }}</b> is ready to download
                </div>
            </div>

            <div class="col-sm-12 col-xl-2">
                <form id="form_topline_download_clear" action="/msn-prj/topline_export/{{ prj.id }}/download-clear" method="post" enctype="multipart/form-data">
                    <input class="btn btn-outline-danger py-3 w-100 mb-2" type="submit" value="Clear" onclick="fnc_tl_submit(this, 'form_topline_download_clear', 'Topline');">
                </form>
            </div>

            <div class="col-sm-12 col-xl-2">
                <form id="form_topline_download" action="/msn-prj/topline_export/{{ prj.id }}/download" method="post" enctype="multipart/form-data">
                    <input class="btn btn-outline-primary py-3 w-100 mb-2" type="submit" value="Download" onclick="fnc_tl_submit(this, 'form_topline_download', 'Topline');">
                </form>
            </div>

        </div>

    {% endif %}

</div>


{% if tabname == 'data-process-topline' %}
    <input id="tl_process_wait_secs_val" type="hidden" value="{{ wait_secs }}">

    <dialog id="dialog_tl_process_waiting" class="bg-light rounded p-4 text-center">

        <h6 class="mb-4">Data processing in <span id="counter">{{ wait_secs }}</span> second(s)</h6>
        <div id="spinner2" class="show">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

    </dialog>

    <script type="text/javascript">
        function countdown() {
            var counter = document.getElementById('counter');

            if (parseInt(counter.innerHTML)<=0) {
                location.href = '/msn-prj/{{ prj.id }}/{{ tabname }}' ;
            }

            if (parseInt(counter.innerHTML)!=0) {
                counter.innerHTML = parseInt(counter.innerHTML)-1;
            }
        }

        setInterval(function(){ countdown(); }, 1000);
    </script>

{% endif %}



