<form id="form_sections" action="/msn-prj/update/{{ prj.id }}/sec" method="post" enctype="multipart/form-data">

    <div class="bg-light rounded h-100 p-2">

        <input type="hidden" id='output_sections' name="output">

        <div class="bg-light rounded h-100 p-4">

            <div class="row g-2">

                <div class="{% if prj.type == 'HUT' %} col-sm-12 col-xl-6 {% else %} col-sm-12 col-xl-15 {% endif %}">
                    <div class="form-floating mb-0">
                        <input type="text" class="form-control" id="join_col" name="detail.join_col" value="{{ prj.detail.join_col }}" placeholder="">
                        <label for="join_col">RID column</label>
                    </div>
                </div>


                {% if prj.type == 'HUT' %}
                    <div class="col-sm-12 col-xl-6">

                        <div class="form-floating mb-0">
                            <input type="text" class="form-control" id="order_col" name="detail.order_col" value="{{ prj.detail.order_col }}">
                            <label for="order_col">Order column (for HUT only)</label>
                        </div>

                    </div>
                {% endif %}

            </div>

        </div>

        <div class="bg-light rounded h-100 p-4">

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                {% for key, val in prj.detail.sections.items() %}

                    <li class="nav-item" role="presentation">
                        <button class="nav-link {% if key == '1' %} active {% endif %}" id="section-{{ key }}-tab" data-bs-toggle="pill"
                            data-bs-target="#section-{{ key }}" type="button" role="tab" aria-controls="section-{{ key }}"
                            aria-selected="{% if key == '1' %} true {% else %} false {% endif %}">{% if val.name %} {{ val.name }} {% else %} #{{ key }} {% endif %}</button>
                    </li>

                {% endfor %}

            </ul>

            <div class="tab-content" id="pills-tabContent">

                {% for key, val in prj.detail.sections.items() %}

                    <div class="tab-pane fade {% if key == '1' %} show active {% endif %}" id="section-{{ key }}" role="tabpanel" aria-labelledby="section-{{ key }}-tab">

                        <div class="bg-light rounded h-100 p-1">

                            <div class="row g-2">

                                <div class="col-sm-12 col-xl-6">
                                    <div class="form-floating mb-0">
                                        <input type="text" class="form-control" id="detail.sections.{{ key }}.name"
                                               name="detail.sections.{{ key }}.name" value="{{ val.name }}">
                                        <label for="detail.sections.{{ key }}.name">Name</label>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-xl-6">
                                    <div class="form-floating mb-0">
                                        <input type="text" class="form-control" id="detail.sections.{{ key }}.filter"
                                               name="detail.sections.{{ key }}.filter" value="{{ val.filter }}">
                                        <label for="detail.sections.{{ key }}.filter">Filter</label>
                                    </div>
                                </div>

<!--                                NEW-->
                                <h5 class="p-2">Rotation</h5>

                                <div class="col-sm-12 col-xl-4">

                                    <div class="form-floating mb-0">
                                        <input type="text" class="form-control" id="detail.sections.{{ key }}.rotation.name"
                                               name="detail.sections.{{ key }}.rotation.name" value="{{ val.rotation.name }}">
                                        <label for="detail.sections.{{ key }}.rotation.name">Name</label>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-xl-4">
                                    <div class="form-floating mb-0">
                                        <input type="text" class="form-control" id="detail.sections.{{ key }}.rotation.lbl"
                                               name="detail.sections.{{ key }}.rotation.lbl" value="{{ val.rotation.lbl }}">
                                        <label for="detail.sections.{{ key }}.rotation.lbl">Label</label>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-xl-4">
                                    <div class="form-floating mb-0">
                                        <input type="text" class="form-control" id="detail.sections.{{ key }}.rotation.qres.0"
                                               name="detail.sections.{{ key }}.rotation.qres.0" value="{{ val.rotation.qres[0] }}">
                                        <label for="detail.sections.{{ key }}.rotation.qres.0">Get data from</label>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-xl-12">

                                    {% for k_cat, v_cat in val.rotation.cats.items() %}

                                        <div class="input-group mb-1">

                                            <span class="input-group-text">Code {{ k_cat }}</span>
                                            <input type="text" class="form-control"
                                                   id="detail.sections.{{ key }}.rotation.cats.{{ k_cat }}.0"
                                                   name="detail.sections.{{ key }}.rotation.cats.{{ k_cat }}.0"
                                                   value="{{ v_cat[0] }}">

                                            <span class="input-group-text">get value = </span>
                                            <input type="text" class="form-control"
                                                   id="detail.sections.{{ key }}.rotation.cats.{{ k_cat }}.1"
                                                   name="detail.sections.{{ key }}.rotation.cats.{{ k_cat }}.1"
                                                   value="{{ v_cat[1] }}">


                                        </div>

                                    {% endfor %}
                                </div>

                                <h5 class="p-2">Product</h5>

                                <div class="col-sm-12 col-xl-6">

                                    <div class="form-floating mb-0">
                                        <input type="text" class="form-control" id="detail.sections.{{ key }}.product.name"
                                               name="detail.sections.{{ key }}.product.name" value="{{ val.product.name }}">
                                        <label for="detail.sections.{{ key }}.product.name">Name</label>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-xl-6">
                                    <div class="form-floating mb-0">
                                        <input type="text" class="form-control" id="detail.sections.{{ key }}.product.lbl"
                                               name="detail.sections.{{ key }}.product.lbl" value="{{ val.product.lbl }}">
                                        <label for="detail.sections.{{ key }}.product.lbl">Label</label>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-xl-12">

                                    {% for k_cat, v_cat in val.product.cats.items() %}

                                        <div class="input-group mb-1">

                                            <span class="input-group-text">Code {{ k_cat }}</span>
                                            <input type="text" class="form-control"
                                                   id="detail.sections.{{ key }}.product.cats.{{ k_cat }}.0"
                                                   name="detail.sections.{{ key }}.product.cats.{{ k_cat }}.0"
                                                   value="{{ v_cat[0] }}">
                                        </div>

                                    {% endfor %}
                                </div>

                                {% for i in range(2) %}
                                    <div class="col-sm-12 col-xl-6">
                                        {% if i == 0 %}
                                            <h6 class="p-2">1st product</h6>
                                        {% else %}
                                            <h6 class="p-2">2nd product</h6>
                                        {% endif %}

                                        <input type="hidden"
                                           id='detail.sections.{{ key }}.product.qres.{{ i }}'
                                           name="detail.sections.{{ key }}.product.qres.{{ i }}"
                                           value="{{ val.product.qres[i] }}">

                                        {% for j in range(5) %}
                                            <div class="form-floating mb-2">
                                                <input type="text" class="form-control" id="detail.sections.{{ key }}.product.qres.{{ i }}.{{ j }}"
                                                       value="{{ val.product.qres[i].split('|')[j] }}"
                                                       onchange="section_getData_change('detail.sections.{{ key }}.product.qres.{{ i }}', 5);">
                                                <label for="detail.sections.{{ key }}.product.qres.{{ i }}.{{ j }}">{{ j + 1 }}. Get data from</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}

                                <h5 class="p-2">Force choice</h5>

                                <input type="hidden"
                                   id='detail.sections.{{ key }}.force_choice.qres.0' name="detail.sections.{{ key }}.force_choice.qres.0"
                                   value="{{ val.force_choice.qres[0] }}">


                                {% for i in range(5) %}
                                    <div class="bg-light rounded h-100 p-1 mb-0">
                                        <div class="form-floating mb-0">
                                            <input type="text" class="form-control" id="detail.sections.{{ key }}.force_choice.qres.0.{{ i }}"
                                                   value="{{ val.force_choice.qres[0].split('|')[i] }}"
                                                   onchange="section_getData_change('detail.sections.{{ key }}.force_choice.qres.0', 5);">

                                            <label for="detail.sections.{{ key }}.force_choice.qres.0.{{ i }}">{{ i + 1 }}. Force choice question</label>
                                        </div>
                                    </div>
                                {% endfor %}
<!--                                NEW-->





<!--&lt;!&ndash;                                OLD&ndash;&gt;-->
<!--                                {% for k_p, v_p in val.product_qres.items() %}-->
<!--                                    <div class="col-sm-12 col-xl-6">-->
<!--                                        <div class="bg-light rounded h-100 p-2">-->
<!--                                            <h6 class="mb-3">Product {{ k_p }}</h6>-->

<!--                                                <div class="form-floating mb-2">-->
<!--                                                    <input type="text" class="form-control" id="detail.sections.{{ key }}.product_qres.{{ k_p }}.name"-->
<!--                                                           name="detail.sections.{{ key }}.product_qres.{{ k_p }}.name" value="{{ v_p.name }}" placeholder="">-->
<!--                                                    <label for="detail.sections.{{ key }}.product_qres.{{ k_p }}.name">Name</label>-->
<!--                                                </div>-->

<!--                                                <div class="form-floating mb-2">-->
<!--                                                    <input type="text" class="form-control" id="detail.sections.{{ key }}.product_qres.{{ k_p }}.lbl"-->
<!--                                                           name="detail.sections.{{ key }}.product_qres.{{ k_p }}.lbl" value="{{ v_p.lbl }}" placeholder="">-->
<!--                                                    <label for="detail.sections.{{ key }}.product_qres.{{ k_p }}.lbl">Label</label>-->
<!--                                                </div>-->

<!--                                                <input type="hidden"-->
<!--                                                       id='detail.sections.{{ key }}.product_qres.{{ k_p }}.qres.0'-->
<!--                                                       name="detail.sections.{{ key }}.product_qres.{{ k_p }}.qres.0"-->
<!--                                                       value="{{ v_p.qres[0] }}">-->

<!--                                                {% for i in range(4) %}-->
<!--                                                    <div class="form-floating mb-2">-->
<!--                                                        <input type="text" class="form-control" id="detail.sections.{{ key }}.product_qres.{{ k_p }}.qres.0.{{ i }}"-->
<!--                                                               value="{{ v_p.qres[0].split('|')[i] }}"-->
<!--                                                               onchange="section_getData_change('detail.sections.{{ key }}.product_qres.{{ k_p }}.qres.0', 4);">-->
<!--                                                        <label for="detail.sections.{{ key }}.product_qres.{{ k_p }}.qres.0.{{ i }}">{{ i + 1 }}. Get data from</label>-->
<!--                                                    </div>-->
<!--                                                {% endfor %}-->

<!--                                                {% for k_cat, v_cat in v_p.cats.items() %}-->

<!--                                                    <div class="input-group mb-1">-->
<!--                                                        <span class="input-group-text">Value</span>-->

<!--                                                        <input type="text" class="form-control" id="detail.sections.{{ key }}.product_qres.{{ k_p }}.cats.{{ k_cat }}.val"-->
<!--                                                               name="detail.sections.{{ key }}.product_qres.{{ k_p }}.cats.{{ k_cat }}.val"-->
<!--                                                               value="{{ v_cat.val }}" placeholder="" aria-label="">-->

<!--                                                        <span class="input-group-text">Label</span>-->

<!--                                                        <input type="text" class="form-control" id="detail.sections.{{ key }}.product_qres.{{ k_p }}.cats.{{ k_cat }}.lbl"-->
<!--                                                               name="detail.sections.{{ key }}.product_qres.{{ k_p }}.cats.{{ k_cat }}.lbl"-->
<!--                                                               value="{{ v_cat.lbl }}" placeholder="" aria-label="">-->
<!--                                                    </div>-->

<!--                                                {% endfor %}-->


<!--                                        </div>-->

<!--                                    </div>-->

<!--                                {% endfor %}-->


<!--    &lt;!&ndash;                            FC QRES&ndash;&gt;-->
<!--                                <input type="hidden"-->
<!--                                   id='detail.sections.{{ key }}.fc_qres.0' name="detail.sections.{{ key }}.fc_qres.0"-->
<!--                                   value="{{ val.fc_qres[0] }}">-->


<!--                                {% for i in range(5) %}-->
<!--                                    <div class="bg-light rounded h-100 p-1 mb-0">-->
<!--                                        <div class="form-floating mb-0">-->
<!--                                            <input type="text" class="form-control" id="detail.sections.{{ key }}.fc_qres.0.{{ i }}"-->
<!--                                                   value="{{ val.fc_qres[0].split('|')[i] }}"-->
<!--                                                   onchange="section_getData_change('detail.sections.{{ key }}.fc_qres.0', 5);">-->

<!--                                            <label for="detail.sections.{{ key }}.fc_qres.0.{{ i }}">{{ i + 1 }}. Force choice question</label>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                {% endfor %}-->
<!--&lt;!&ndash;                                OLD&ndash;&gt;-->

                            </div>

                        </div>


                    </div>

                {% endfor %}

            </div>

        </div>

        <div class="bg-light rounded h-100 p-2">
            <div class="d-flex align-items-center justify-content-end mb-4">
                <input class="btn btn-primary py-3 w-25" type="submit" value="Submit sections" onclick="fnc_submit('sections', false)">
            </div>
        </div>

    </div>

</form>


