<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Tools</a>
    <div class="dropdown-menu bg-transparent border-0">
        <a href="\convert-sav" class="dropdown-item {% if strTask in ['Convert to SAV'] %} active {% else %} {% endif %}">Convert to Sav</a>
        <a href="\baemin-check" class="dropdown-item {% if strTask in ['Baemin checking'] %} active {% else %} {% endif %}">Baemin checking</a>
        <a href="\online-survey-data" class="dropdown-item {% if strTask in ['Online Survey Data'] %} active {% else %} {% endif %}">Online survey data</a>
    </div>
</div>