{% extends 'master_page.html' %}

{% block page_title %}
    <title>Baemin check</title>
{% endblock %}

{% block bl_user_name %}

    {% include 'user_bar.html' %}

{% endblock %}

{% block sidebar_tool %}
    {% include 'sidebar_tool.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class="row bg-light rounded align-items-top justify-content-center mx-0">
            <div class="col-md-6 text-center p-4">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <h4 class="mb-0">Baemin data checking</h4>
                </div>

                <div class="d-flex align-items-center justify-content-center">
                    <form id="uploadform" action="/baemin-check" method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label for="xlsxFile" class="form-label">Choose xlsx file</label>
                            <input class="form-control" type="file" id="xlsxFile" name="file" multiple data-max="1" accept=".xlsx" value="">
                        </div>

                        <input class="btn btn-primary py-3 w-100 mb-4" type="submit" value="Check">

                        {% if strErr|trim|length %}
                        <div id="err" class="alert alert-danger" role="alert">
                            {{ strErr }}
                        </div>
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js_files %}
    <script>
<!--        setTimeout(() => {-->
<!--            const err = document.getElementById('err');-->

<!--            if(err != null)-->
<!--            {-->
<!--                err.style.display = 'none';-->
<!--            }-->
<!--    &lt;!&ndash;        err.style.visibility = 'hidden';&ndash;&gt;-->
<!--        }, 30000);-->
    </script>
{% endblock %}