{% extends 'master_page.html' %}

{% block page_title %}
    <title>Data Analyze</title>
{% endblock %}

{% block bl_user_name %}

    {% include 'user_bar.html' %}

{% endblock %}

{% block sidebar_data_tbl %}
    <a href="\data-analyze" class="nav-item nav-link active"><i class="fa fa-th me-2"></i>Data Analyze</a>
{% endblock %}

{% block content %}
    <div class="container-fluid pt-4 px-4">
        <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
            <div class="col-md-6 text-center p-4">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1 fw-bold">Data Analyze</h1>
                <h1 class="mb-4">Page Is Developing</h1>
                <p class="mb-4">We’re sorry, the page you have looked for developing in our website!</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="/index">Go Back To Home</a>
            </div>
        </div>
    </div>
{% endblock %}