<form id="form_anlz_prj_py_script_main_processing" name="anlz_prj_py_script_main_processing" action="/anlz/{{ prj.id }}/tab/pyscript/main_processing/update" method="post" enctype="multipart/form-data"
    onsubmit="return confirm('Do you want to save script?');">

    <div class="row g-1 p-1 bg-dark rounded">

        <div class="col-sm-12 col-xl-10">
            <h5 id="save_stt" class="text-center text-warning" ></h5>
        </div>

        <div class="col-sm-12 col-xl-2 hovertext" data-hover="Press Ctrl-S when cursor in scripting frame">
            <input class="btn btn-outline-primary w-100" type="submit" value="Save">
        </div>

<!--        <div class="col-sm-12 col-xl-1 hovertext" data-hover="Save before run">-->
<!--            <button class="btn btn-outline-success w-100" onclick="alert('Running');">Run</button>-->
<!--        </div>-->

        <div class="col-sm-12 col-xl-12">
            <textarea id="txt_py_script" name="txt_py_script">{{ prj.txt_main_processing_script }}</textarea>
        </div>

    </div>

</form>