pandas
openpyxl
pyreadstat
numpy
motor
pymongo
fastapi
starlette
scipy
passlib
dnspython
idna
requests
cryptography
h11
pip
Jinja2
rsa
pyasn1
ecdsa
pytz
PyYAML
anyio
sniffio
colorama
six
setuptools
cffi
pydantic
click
MarkupSafe
mangum
orjson
python-dateutil
asgiref
certifi
websockets
ujson
uvicorn
httptools
gunicorn
watchgod
urllib3
python-multipart
pycparser
itsdangerous
bcrypt
PyJWT
python-jose[cryptography]
fastapi-login
psutil
python-dotenv
pydrive
dotty-dict
mergedeep
python-pptx